<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
<H1>ceci est ma page twig test</H1>
<div>
    {# Ceci sert pour les commentaires twig ici je crée une variable #}
    {% set name = "Sébastien" %}
    <h2>Voici mon prénom : {{ name }}</h2>
    <h2>Voici mon prénom en majuscule gràce aux filtres UPPER: {{ name | upper }}</h2>
    <h2>Voici le nombre de lettre que contient mon prenom gràce au filtre LENGHT : {{ name | length }}</h2>

    {# création d'un tableau et bouclage avec un for #}
    {% set colors = ["orange", "brown", "turquoise", "blue"] %}
    <div>Nombre de couleurs dans mon tableau grace au filtre LENGHT : {{ colors | length }}</div>
    <div>Affichage du tableau avec le filtres join : {{ colors | join(' & ') }}</div>
    {% for color in colors %}
        <div style="background-color: {{ color }}"> Voici la couleur : {{ color | upper }} qui est à la
            position {{ loop.index }}
            grace à la variable loop.index
        </div>
    {% endfor %}

    {# création d'un objet #}
    {% set voiture = {
        marque: 'peugeot',
        year:'2017',
        modele : 'partner tepee'} %}

    <h3>{{ voiture.marque }}</h3>
    <div>
        {% for key,val in voiture %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}

    </div>

</div>
</body>
</html>